<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session 1</title>
</head>
<body>
<h3>Page 1</h3>
<form action="session2.jss" method="POST">
    <label>Name:<input type="text" name="name" value="<%= value %>"><br></label>
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>


