<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
<h3>Logout</h3>
You have been logged out.
<a href="session1.jss">Login</a>
</body>
</html>


