<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session 3</title>
</head>
<body>
<h3>Page 3</h3>
<%= message %><br>

<% if (loggedIn){ %>
<a href="logout.jss">Logout</a>
<% } else { %>
<a href="session1.jss">Login</a>
<% } %>
</body>
</html>


