
<form>
<!--  Use CSS to be modern -->
<table>
    <tr><td>Title: </td><td><input type="text" id="title"  value="" placeholder="Enter Book Title" ></td></tr>
    <tr><td>Author: </td><td><input type="text" id="author" value="" placeholder="Enter Book Author"></td></tr>
    <tr><td>Price: </td><td><input type="text" id="price" value="" placeholder="Enter Book Price"></td></tr>
    <tr><td class='recordcontrol' colspan="2">
            <input type="button" value="Save" onclick="addBook();">
            <input type="button" value='Cancel Edit' onclick="loadList();">
        </td></tr>
</table>
</form>
