<form>
    <strong>Are you sure you wish to delete '<%= book.title %>'?</strong><br>
    <input type="button" value="Confirm Delete" onclick="deleteBook(<%= book.id %>)">&nbsp;
    <!-- Could also pass to the server as a submit and determine redirect action there -->
    <input type="button" value='Cancel Delete' onclick="loadList()"></a>
</form>
