 <ons-page>

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">All</div>
        <div class="right"><ons-toolbar-button><ons-icon icon="ion-plus-round" size="28px"></ons-icon></ons-toolbar-button></div>
    </ons-toolbar>
    <input type="search" class="search-input" placeholder="Search...">
  <ons-list>

    <ons-list-item class="list-item-container">
      <ons-row>
        <ons-col width="95px">
          <img src="" class="thumbnail">
        </ons-col>
        <ons-col>
          <div class="name">
            Eiffel Tower
          </div>
          <div class="location">
            <i class="fa fa-map-marker"></i> Paris, France
          </div>
          <div class="desc">
            Eiffel Tower is the symbol of Paris and named by Gustave Eiffel.
          </div>
        </ons-col>
      </ons-row>
      <ons-row ng-controller="OptionController">
        <ons-col width="50%">
            &nbsp;
        </ons-col>
        <ons-col class="bm-button">
            <ons-button modifier="quiet"><ons-icon icon="ion-ios-star-outline" size="28px"></ons-icon></ons-button>
        </ons-col>
        <ons-col class="bm-button">
            <ons-button modifier="quiet"><ons-icon icon="ion-ios-gear" size="28px"></ons-icon></ons-button>
        </ons-col>
        <ons-col class="bm-button">
            <ons-button ng-click="confirm(true)" modifier="quiet"><ons-icon icon="ion-ios-trash-outline" size="28px"></ons-icon></ons-button>
        </ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item class="list-item-container">
      <ons-row>
        <ons-col width="95px">
          <img src="" class="thumbnail">
        </ons-col>
        <ons-col>
          <div class="name">
            Monument Valley
          </div>
          <div class="location">
            <i class="fa fa-map-marker"></i> Utah, USA
          </div>
          <div class="desc">
            Director John Ford used Monument Valley for a number of his best-known films.
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
            <ons-row ng-controller="OptionController">
        <ons-col width="50%">
            &nbsp;
        </ons-col>
        <ons-col class="bm-button">
            <ons-button modifier="quiet"><ons-icon icon="ion-ios-star-outline" size="28px"></ons-icon></ons-button>
        </ons-col>
        <ons-col class="bm-button">
            <ons-button modifier="quiet"><ons-icon icon="ion-ios-gear" size="28px"></ons-icon></ons-button>
        </ons-col>
        <ons-col class="bm-button">
            <ons-button ng-click="confirm(true)" modifier="quiet"><ons-icon icon="ion-ios-trash-outline" size="28px"></ons-icon></ons-button>
        </ons-col>
      </ons-row>
    </ons-list-item>
    
  </ons-list>

</ons-page>
