<ons-page>
    <ons-toolbar modifier="android" ng-controller="DropdownController">
        <div class="center">Bookmarx</div>
        <div class="right">
            <ons-toolbar-button ng-click="popover.show($event);">
                <ons-icon icon="ion-navicon-round" size="28px"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div class="folder_list" no-status-bar-fill="" data-animit-orig-style="">
        <ons-list class="folder_list_default">
          <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('all.html', { animation : 'slide' } )" class="folder_item">
            All
          </ons-list-item>
          <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('recent.html', { animation : 'slide' } )" class="folder_item">
            Recently Visited
          </ons-list-item>
        </ons-list>
        <ons-list class="folder_list_user">
          <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('books.html', { animation : 'slide' } )" class="folder_item">
            Books
          </ons-list-item>
          <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('clothes.html', { animation : 'slide' } )" class="folder_item">
            Clothes
          </ons-list-item>
          <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('sports.html', { animation : 'slide' } )" class="folder_item">
            Sports
          </ons-list-item>
        </ons-list>
    </div>
    <ons-template id="popover.html">
        <ons-popover direction="down" cancelable ng-controller="OptionController">
            <ons-list>
                <ons-list-item ng-click="prompt(true)" modifier="tappable">Create Folder</ons-list-item>
                <ons-list-item ng-click="req('https://demo8309069.mockable.io/import')" modifier="tappable">Import</ons-list-item>
                <ons-list-item ng-click="req('https://demo8309069.mockable.io/export')" modifier="tappable">Export</ons-list-item>
            </ons-list>
        </ons-popover>
    </ons-template>

    
</ons-page>



